//MAIN SECTION//
@import 'fonts';
@import 'colors';
h2{
	text-transform: uppercase;
	padding: 25px 0 0 0;
}
h2+p{
	font: $font-Open-Sans;}
.block-banner{
	background: $color-blue;
	min-height: 500px;
}
.block-banner h2{
	padding: 100px 0 0 0;
	text-align: center;
	font:$font-Myriad-Pro;
	color: #fff;
	font-size: 2rem;
	font-weight: 400;
}
.block-banner p{
	text-align: center;
	color: #fff;
}
.input-banner, .input-map{
	margin: 25px 0 ;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.item-input-banner, .item-input-map{
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	margin: 10px 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.item-input-banner lable, .item-input-map lable{
	display: flex;
	align-items: center;
	height: 35px;
	width: 35px;
	justify-content: center;
	background: #fff;
	color: #6e6e6e;
}
.item-input-banner input, .item-input-map input{
	border: none;
	height: 35px;
	width: 225px;
	background: #fff;
}
button{
	background: $color-yellow;
	border:none;
	padding: 0 20px;
	margin: 10px 0;
	text-transform: uppercase;
	height: 35px;
	color: #fff;
}
.laptop{
	transform: translateY(100px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.slider{
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-slider{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #ddd;
	margin: 0 5px;
}
@media (max-width: 670px) {
	.laptop img{
		width: 600px;
		height: 300px;
	}
}
@media (max-width: 600px) {
	.laptop img{
		width: 500px;
		height: 250px;
	}
}
@media (max-width: 500px) {
	.laptop img{
		width: 400px;
		height: 200px;
	}
}
@media (max-width: 400px) {
	.laptop img{
		width: 300px;
		height: 150px;
	}
}
.section-services h2{
	padding: 200px 0 0 0;
	text-align: center;
	color: $color-dark-blue-font;
	font-weight: 600;
	font: $font-Gottam;
	font-size: 27px;
}
.section-services h2+p{
	text-align: center;
}
.section-services p{
	text-align: left;
}
.list-services{
	margin: 25px auto;
}
.item-list-services{
	margin: 25px auto;
	width: 350px;
}
.item-list-services .icon{
	color: $color-blue;
	margin: auto;
	width: 100px;
	text-align: center;
	font-size: 48px;
	transition: .3s;
}
.icon:hover{
	color: $color-yellow;
}
.text-list-services{
	text-align: center;
	margin: auto;
	font: $font-Open-Sans;
}
.text-list-services h4{
	font-size: 16px;
}
.text-list-services p{
	font-size: 13px;
}
@media (min-width: 600px) {
	.item-list-services{
		width: 600px;
		display: flex;
		align-items: flex-start;
	}
	.text-list-services{
		text-align: left;
	}
	.item-list-services .icon{
		margin: 0 25px;
	}
}
@media (min-width: 1200px) {
	.list-services{
		display: flex;
		flex-wrap: wrap;
	}
}
.block-about-us{
	display: flex;
	background: #ffc155;
}
.half-section{
	width: 100%;
	min-width: 375px / 2;
	max-width: 1200px / 2;
}
.half-section img{
	width: 100%;
	display: block;
}
.half-section:last-child{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	color: #fff;
	padding: 30px;
}
.half-section:last-child h2{
	font-family: 'Gotham-Black', sans-serif;
}
.half-section:last-child p{
	padding: 20px 0;
	font-family: 'Open Sans', sans-serif;
}
.half-section:last-child button{
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
@media (max-width: 1150px) {
	.block-about-us{
		display: block;
		background: $color-yellow;
	}
}
.block-price{
	background: #e7edf3;
}
.section-price h2{
	padding: 75px 0 0 0;
	text-align: center;
	color: $color-dark-blue-font;
	font-weight: 600;
	font: $font-Gottam;
	font-size: 24px;
}
.section-price>p{
	padding: 0 0 50px 0;
	text-align: center;
	font: $font-Open-Sans;
	font-size: 14px;
}
.list-price{
	padding: 0 0 75px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-price{
	font: $font-Lato;
	text-align: center;
	padding: 35px;
	width: 400px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.item-price h3{
	font-size: 25px;
	text-transform: uppercase;
}
.item-price span{
	display: block;
	padding: 30px 0 15px 0;
	font-size: 50px;
}
.item-price-aside{
	color: #818b95;
	height: 440px;
	background: #fff;
}
.last-p,
.last-i{
	margin: 0 0 30px 0;
}
.item-list-price{
	text-transform: uppercase;
	border-top: 1px solid #818b95;
	padding: 10px 0;
}
.item-price-aside span{
	color: $color-yellow;
}
.item-price-center{
	color: #fff;
	height: 500px;
	background: $color-blue;
}
.item-price-center h3{
	margin: 30px 0 0 0;
}
.item-price-center .item-list-price{
	border-color: #fff;
}
@media (max-width: 1199px) {
	.list-price{
		display: block;
	}
	.item-price{
		margin: auto;
		width: 350px;
	}
}
.section-works h2{
	padding: 75px 0 0 0;
	text-align: center;
	color: $color-dark-blue-font;
	font-weight: 600;
	font: $font-Gottam;
	font-size: 24px;
}
.section-works>p{
	padding: 0 0 50px 0;
	text-align: center;
	font: $font-Open-Sans;
	font-size: 14px;
}
.list-works{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px 0 40px 0;
}
.icon-works{
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	color: $color-blue;
	margin: auto auto 150px auto;
}
.item-works{
	position: relative;
	margin: 30px 0;
	width: 250px;
	text-align: center;
	font:$font-Open-Sans;
}
.item-works img{
	position: absolute;
	transform: translate(65px,-65px);
}
img.reverse{
	position: absolute;
	transform: translate(65px,65px) rotateX(-180deg);
}
.item-works h4{
	padding-bottom: 30px;
	font-size: 20px; 
	text-transform: uppercase;
	font-weight: 400;
}
.works-button{
	display: flex;
	justify-content: center;
	margin: -20px 0 100px 0;
}
@media (max-width: 1200px) {
	.item-works img{
		display: none;
	}
	img.reverse{
		display: none;
	}
}
@media (max-width: 1000px) {
	.icon-works{
		margin: auto auto 50px auto;
	}
}
.block-clients{
	background: #ffc155;
}
.section-clients h2{
	padding: 75px 0 0 0;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font: $font-Gottam;
	font-size: 24px;
}
.section-clients>p{
	color: #fff;
	padding: 0 0 50px 0;
	text-align: center;
	font: $font-Open-Sans;
	font-size: 14px;
}
.list-clients{
	padding: 0 0 75px 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.item-clients{
	margin: 10px 0;
	width: 575px;
	background: #fff;
	padding: 30px;
	display: flex;
	align-items: flex-start;
}
.item-clients img{
	margin: 0 20px 0 0;
}
.text-clients p{
	line-height: 1.4em;
	color: #7b7b7b;
	font: $font-Open-Sans;
}
.author-text{
	color: #7b7b7b;
	padding: 10px 0 0 0;
	font: $font-Open-Sans;
	font-size: 16px;
	text-transform: uppercase;
}
.author-text span{
	color: $color-yellow;
}
@media (max-width: 1200px) {
	.list-clients{
		display: block;
	}
	.item-clients{
		display: block;
		width: 365px;
		margin: 20px auto;
	}
	.face{
		margin: 10px 0;
		display: flex;
		justify-content: center;
	}
}
.section-map h2{
	padding: 75px 0 0 0;
	text-align: center;
	color: $color-dark-blue-font;
	font-weight: 600;
	font: $font-Gottam;
	font-size: 24px;
}
.section-map>p{
	color: $color-dark-blue-font;
	padding: 0 0 15px 0;
	text-align: center;
	font: $font-Open-Sans;
	font-size: 14px;
}
.item-input-map input{
	width: 300px;
}
.input-map{
	margin: 10px 0;
}
.map{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	height: 550px;
	background: url(img/map.png) no-repeat;
}
.map-content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.map-text{
	font: $font-Open-Sans;
	text-align: center;
	position: absolute;
}
.map-text h4{
	font-size: 20px;
	padding: 50px 0 10px 0;
	color: #fff;
	text-transform: uppercase;
}
.map-text p{
	color: #aeb7ba;
	line-height: 2em;
}
.map-text p>span{
	color: $color-yellow
}
.map-content img{
	padding: 5px;
	border-radius: 50%;
	background: #fff;
	display: block;
}
.section-footer-nav:first-child{
	padding: 50px 0;
	border-top: 1px solid #ddd;
}
.section-footer-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-footer-nav ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.section-footer-nav li{
	margin: 20px 0;
}
.section-footer-nav a{
	font: $font-Open-Sans;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration-line: none;
	color: #9C9B9D;
}
.section-footer-nav a:hover{
	transition: .3s;
	background: $color-yellow;
	color: #fff;
}
.active{
	background: $color-yellow;
}
a.active{
	color: #fff;
}
.section-footer-nav:nth-child(2){
	font: $font-Open-Sans;
	margin: -30px 0 60px 0;
	font-size: 28px;
	color: #9C9B9D;
}
.section-footer-nav:nth-child(2) .phone{
	margin: 0 10px;
}
.section-footer-nav:nth-child(3){
	text-align: center;
	margin: -40px 0 50px 0;
	font-size: 20px;
	color: #9C9B9D;
}
.section-footer-nav:nth-child(3) a{
	display: block;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-blue;
	padding: 10px;
	font-size: 20px;
}
.section-footer-nav:nth-child(3) a:hover{
	color: #fff;
}